<?xml version="1.0"?>
<launch>
  <include file="$(find fanuc_lrmate200ic_support)/launch/load_lrmate200ic.launch"/>
  <param name="use_sim_time" value="true" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node pkg="rosbag" type="play" name="player" output="screen" args="-l $(find ur_cycle_start)/bag/start.bag"/>
  <!--node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher"/-->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="9091"/>
  </include>
</launch>
